backend.json
[
    {
        "id": "cf757416.97ca88",
        "type": "tab",
        "label": "VeggiCity API"
    },
    {
        "id": "c0c690e.17165f",
        "type": "subflow",
        "name": "getJardin",
        "info": "",
        "in": [
            {
                "x": 157.7777862548828,
                "y": 157.77780151367188,
                "wires": [
                    {
                        "id": "f4e04fe9.a5d898"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 904.7776947021484,
                "y": 160.77781677246094,
                "wires": [
                    {
                        "id": "faa9fba7.275148",
                        "port": 0
                    }
                ]
            },
            {
                "x": 671,
                "y": 244,
                "wires": [
                    {
                        "id": "678d577.6d055a8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "60ebfa82.7e48a4",
        "type": "subflow",
        "name": "getJardins",
        "info": "",
        "in": [
            {
                "x": 394,
                "y": 90,
                "wires": [
                    {
                        "id": "9196efb8.384d18"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1015,
                "y": 85,
                "wires": [
                    {
                        "id": "6b9112f0.82fa84",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f5cdc70a.d1345",
        "type": "subflow",
        "name": "addMeasure",
        "info": "",
        "in": [
            {
                "x": 86,
                "y": 95,
                "wires": [
                    {
                        "id": "dc679df4.785a9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1210.2500610351562,
                "y": 448,
                "wires": [
                    {
                        "id": "f931511d.4df85",
                        "port": 0
                    }
                ]
            },
            {
                "x": 863,
                "y": 647,
                "wires": [
                    {
                        "id": "a461fffa.f50ae8",
                        "port": 0
                    },
                    {
                        "id": "838380de.374e6",
                        "port": 0
                    },
                    {
                        "id": "c82b306.bc21e5",
                        "port": 0
                    },
                    {
                        "id": "72c9cd89.45279c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "62b88822.e0ba48",
        "type": "subflow",
        "name": "getPlantation",
        "info": "",
        "in": [
            {
                "x": 91,
                "y": 160,
                "wires": [
                    {
                        "id": "166e797f.b7f407"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1089,
                "y": 156,
                "wires": [
                    {
                        "id": "e4f1b4e5.b6d6e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 668,
                "y": 251,
                "wires": [
                    {
                        "id": "51168cf2.bff47c",
                        "port": 0
                    },
                    {
                        "id": "80f6a353.a09678",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "91bb539c.8c2b98",
        "type": "subflow",
        "name": "addPlantation",
        "info": "",
        "in": [
            {
                "x": 128,
                "y": 159,
                "wires": [
                    {
                        "id": "3751917a.301c36"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1219,
                "y": 607,
                "wires": [
                    {
                        "id": "b471f9c.ad13588",
                        "port": 0
                    }
                ]
            },
            {
                "x": 999,
                "y": 876,
                "wires": [
                    {
                        "id": "ee9a2d27.c7cf48",
                        "port": 0
                    },
                    {
                        "id": "2d51b011.aada98",
                        "port": 0
                    },
                    {
                        "id": "13b5b784.85bf3",
                        "port": 0
                    },
                    {
                        "id": "ee2a8f6b.f8825",
                        "port": 0
                    },
                    {
                        "id": "9631ea9b.a38db",
                        "port": 0
                    },
                    {
                        "id": "1db8b31d.fe898d",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "6f7fbf07.4b33a",
        "type": "subflow",
        "name": "removePlantation",
        "info": "",
        "in": [
            {
                "x": 128,
                "y": 168,
                "wires": [
                    {
                        "id": "cac60088.dc2d9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1190,
                "y": 170,
                "wires": [
                    {
                        "id": "6f469df0.ecf77c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 757,
                "y": 261,
                "wires": [
                    {
                        "id": "fbd5d107.d93c1",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "9532cdda.cdb6c",
        "type": "subflow",
        "name": "addPicture",
        "info": "",
        "in": [
            {
                "x": 74.11111450195312,
                "y": 285.33335876464844,
                "wires": [
                    {
                        "id": "ea219c68.d3d578"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1381.1112670898438,
                "y": 289.3333740234375,
                "wires": [
                    {
                        "id": "145da335.99787d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1348.5556335449219,
                "y": 416.55560302734375,
                "wires": [
                    {
                        "id": "2eb98c0c.6cad44",
                        "port": 0
                    },
                    {
                        "id": "c6ef9291.f0be4",
                        "port": 0
                    },
                    {
                        "id": "d7ff9c6d.4d631",
                        "port": 0
                    },
                    {
                        "id": "d8a004ff.d673d",
                        "port": 0
                    },
                    {
                        "id": "98e3b22b.3071",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "bb046e2c.50cdc",
        "type": "subflow",
        "name": "getPlantations",
        "info": "",
        "in": [
            {
                "x": 61.25,
                "y": 128.75,
                "wires": [
                    {
                        "id": "f64afa92.ea0f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 128.75,
                "wires": [
                    {
                        "id": "8d820950.f2c858",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 218.75,
                "wires": [
                    {
                        "id": "2d44f299.f39546",
                        "port": 0
                    },
                    {
                        "id": "684ec927.979b98",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "fa882373.ddcd1",
        "type": "subflow",
        "name": "getSpecies",
        "info": "",
        "in": [
            {
                "x": 158.57144165039062,
                "y": 222.85716247558594,
                "wires": [
                    {
                        "id": "322c02e7.cf7a96"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 884.2857971191406,
                "y": 225.7142333984375,
                "wires": [
                    {
                        "id": "9cdb8490.28ecc8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 686.4286499023438,
                "y": 337.14288330078125,
                "wires": [
                    {
                        "id": "c1abc6b2.e4c898",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "8a02f2c8.b7f3c8",
        "type": "subflow",
        "name": "getMeasures",
        "info": "",
        "in": [
            {
                "x": 95,
                "y": 177.5,
                "wires": [
                    {
                        "id": "634ea81f.062a9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 721.25,
                "y": 178.75,
                "wires": [
                    {
                        "id": "5a3d30d6.7d80f8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 721.25,
                "y": 266.25,
                "wires": [
                    {
                        "id": "8ddfb0f5.bb18b",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "9cf2d673.54a5e",
        "type": "subflow",
        "name": "addJardin",
        "info": "",
        "in": [
            {
                "x": 146.25,
                "y": 483.75,
                "wires": [
                    {
                        "id": "6005f721.9eb47"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1191.25,
                "y": 607.5,
                "wires": [
                    {
                        "id": "e714db6d.c9912",
                        "port": 0
                    }
                ]
            },
            {
                "x": 980,
                "y": 881.25,
                "wires": [
                    {
                        "id": "c58cd418.bf6558",
                        "port": 0
                    },
                    {
                        "id": "7cba3170.7a42d8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "7e125cac.4a335c",
        "type": "subflow",
        "name": "getPicture",
        "info": "",
        "in": [
            {
                "x": 145.5555419921875,
                "y": 141.11111450195312,
                "wires": [
                    {
                        "id": "595bf42.5f8318c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 708.888916015625,
                "y": 136.6666717529297,
                "wires": [
                    {
                        "id": "5c95f385.c38914",
                        "port": 0
                    }
                ]
            },
            {
                "x": 709.4444580078125,
                "y": 192.2222442626953,
                "wires": [
                    {
                        "id": "b746c113.165588",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "98185682.0be158",
        "type": "subflow",
        "name": "getAllSpecies",
        "info": "",
        "in": [
            {
                "x": 147.7777862548828,
                "y": 132.22222900390625,
                "wires": [
                    {
                        "id": "4827d04f.178758"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 685.5556030273438,
                "y": 126.66668701171875,
                "wires": [
                    {
                        "id": "d3aa7112.fd2b1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 689.4444580078125,
                "y": 207.77780151367188,
                "wires": [
                    {
                        "id": "aa9f201.eb89d6",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c0e93a6b.6b218",
        "type": "MySQLdatabase",
        "z": "",
        "host": "5.51.180.42",
        "port": "3306",
        "db": "veggicity",
        "tz": ""
    },
    {
        "id": "17557121.6b5617",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "API Server (GET)",
        "url": "/api/:resource/:id?/:subresource?",
        "method": "get",
        "swaggerDoc": "",
        "x": 200.1666259765625,
        "y": 267.38890075683594,
        "wires": [
            [
                "a7695812.f1ac8"
            ]
        ]
    },
    {
        "id": "c18675e1.151718",
        "type": "http response",
        "z": "cf757416.97ca88",
        "name": "Server response",
        "x": 2436.7778930664062,
        "y": 332.416748046875,
        "wires": []
    },
    {
        "id": "284a0285.11f016",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Unkown resource",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "Unknown resource: {{{req.params.resource}}}.",
        "x": 786.8333740234375,
        "y": 1256.6666259765625,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "a7695812.f1ac8",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch API resource",
        "property": "req.params.resource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "jardin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "plantation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "species",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 489.1666259765625,
        "y": 267.38890075683594,
        "wires": [
            [
                "a5bc934f.716eb"
            ],
            [
                "10576df6.2e3322"
            ],
            [
                "b692332a.deb14"
            ],
            [
                "65b40eb7.d1b58"
            ]
        ]
    },
    {
        "id": "568149d7.fddb88",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Build error message",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"status\": \"error\",\n    \"message\": \"{{error.message}}\"\n}",
        "x": 1027.1666870117188,
        "y": 1151,
        "wires": [
            [
                "f6aabc36.9a9aa"
            ]
        ]
    },
    {
        "id": "44d1a26b.89eb44",
        "type": "template",
        "z": "c0c690e.17165f",
        "name": "Build getJardin request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Jardin\nWHERE IdJardin = '{{{req.params.id}}}';",
        "x": 538.2220306396484,
        "y": 158.6666259765625,
        "wires": [
            [
                "faa9fba7.275148"
            ]
        ]
    },
    {
        "id": "faa9fba7.275148",
        "type": "mysql",
        "z": "c0c690e.17165f",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 741.3333587646484,
        "y": 157.77780151367188,
        "wires": [
            []
        ]
    },
    {
        "id": "d9ceda21.6b7e68",
        "type": "subflow:c0c690e.17165f",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1239.75,
        "y": 188.38885498046875,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "b6c00aca.52478"
            ]
        ]
    },
    {
        "id": "f4e04fe9.a5d898",
        "type": "assert",
        "z": "c0c690e.17165f",
        "name": "Check ID",
        "rules": [
            {
                "property": "req.params.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 300.888916015625,
        "y": 158.11111450195312,
        "wires": [
            [
                "44d1a26b.89eb44"
            ]
        ]
    },
    {
        "id": "a6cb2200.99618",
        "type": "function",
        "z": "cf757416.97ca88",
        "name": "Set JSON response doctype",
        "func": "if (msg.headers == null) {\n    msg.headers = [];\n}\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2196.0000610351562,
        "y": 331.75,
        "wires": [
            [
                "c18675e1.151718"
            ]
        ]
    },
    {
        "id": "9196efb8.384d18",
        "type": "template",
        "z": "60ebfa82.7e48a4",
        "name": "Build getJardin request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Jardin;",
        "x": 616.536865234375,
        "y": 90,
        "wires": [
            [
                "6b9112f0.82fa84"
            ]
        ]
    },
    {
        "id": "6b9112f0.82fa84",
        "type": "mysql",
        "z": "60ebfa82.7e48a4",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 842.6482238769531,
        "y": 86.11117553710938,
        "wires": [
            []
        ]
    },
    {
        "id": "594cde33.5b3f78",
        "type": "subflow:60ebfa82.7e48a4",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1253.6944580078125,
        "y": 27.97223663330078,
        "wires": [
            [
                "a6cb2200.99618"
            ]
        ]
    },
    {
        "id": "f6aabc36.9a9aa",
        "type": "function",
        "z": "cf757416.97ca88",
        "name": "Set status code to error",
        "func": "msg.statusCode = 400;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1278,
        "y": 1151,
        "wires": [
            [
                "a6cb2200.99618"
            ]
        ]
    },
    {
        "id": "e754f0a9.086d2",
        "type": "catch",
        "z": "cf757416.97ca88",
        "name": "Catch generic errors",
        "scope": null,
        "x": 457.5,
        "y": 1210,
        "wires": [
            [
                "5010ba9e.8d5ac4"
            ]
        ]
    },
    {
        "id": "5010ba9e.8d5ac4",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Generic error message",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Internal server error.",
        "x": 767,
        "y": 1207,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "caa219fc.8a0be",
        "type": "subflow:f5cdc70a.d1345",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 774,
        "y": 730,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "617e96cc.a19c5"
            ]
        ]
    },
    {
        "id": "dc679df4.785a9",
        "type": "assert",
        "z": "f5cdc70a.d1345",
        "name": "Check measurement validity",
        "rules": [
            {
                "property": "payload.plantation",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            },
            {
                "property": "payload.temperature",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            },
            {
                "property": "payload.moisture",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            }
        ],
        "x": 289,
        "y": 96,
        "wires": [
            [
                "e4bd9c0e.2fe0d"
            ]
        ]
    },
    {
        "id": "f128c48c.176f9",
        "type": "comment",
        "z": "f5cdc70a.d1345",
        "name": "Check the existence of the plantation",
        "info": "",
        "x": 172.5,
        "y": 183.25,
        "wires": []
    },
    {
        "id": "3a786fb0.7c0ed",
        "type": "comment",
        "z": "f5cdc70a.d1345",
        "name": "Error output",
        "info": "",
        "x": 967.5,
        "y": 644,
        "wires": []
    },
    {
        "id": "95028bc8.7cfca",
        "type": "catch",
        "z": "f5cdc70a.d1345",
        "name": "Catch invalid input",
        "scope": [
            "dde679be.bf36d",
            "dc679df4.785a9"
        ],
        "x": 506.5,
        "y": 629,
        "wires": [
            [
                "a461fffa.f50ae8"
            ]
        ]
    },
    {
        "id": "5f0ab50a.1ba7e4",
        "type": "link in",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "617e96cc.a19c5",
            "b6c00aca.52478",
            "eca2e9c.44c4118",
            "cbc727b4.4700a",
            "3d054af9.9d1426",
            "ccd25db.9be51a",
            "f96e5746.274188",
            "9bb1173e.b4779",
            "ab508868.bedc8",
            "e8c076f.91a5c88",
            "a1f73269.2f7998",
            "fee655f0.121ba8",
            "9245c5d1.f972c"
        ],
        "x": 824.5,
        "y": 1152,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "617e96cc.a19c5",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 902.5,
        "y": 748,
        "wires": []
    },
    {
        "id": "8662de51.76b34",
        "type": "catch",
        "z": "f5cdc70a.d1345",
        "name": "Catch invalid method",
        "scope": [
            "c8e006ee.497f98"
        ],
        "x": 498.5,
        "y": 670,
        "wires": [
            [
                "838380de.374e6"
            ]
        ]
    },
    {
        "id": "a461fffa.f50ae8",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Invalid input",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Invalid input: some required fields have been omitted or are not of type 'number'.",
        "x": 694,
        "y": 628,
        "wires": [
            []
        ]
    },
    {
        "id": "838380de.374e6",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Invalid method",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Unknown API method.",
        "x": 705,
        "y": 672,
        "wires": [
            []
        ]
    },
    {
        "id": "2a3f77ab.ceb4a8",
        "type": "mysql",
        "z": "f5cdc70a.d1345",
        "mydb": "c0e93a6b.6b218",
        "name": "Look for a registered plantation",
        "x": 690.5,
        "y": 234,
        "wires": [
            [
                "e0e1217d.d42a"
            ]
        ]
    },
    {
        "id": "e4bd9c0e.2fe0d",
        "type": "change",
        "z": "f5cdc70a.d1345",
        "name": "Save data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 243.5,
        "y": 233,
        "wires": [
            [
                "a31046e7.399c58"
            ]
        ]
    },
    {
        "id": "a31046e7.399c58",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Build request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT COUNT(IdPlantation) as Found\nFROM Plantation\nWHERE IdPlantation = {{data.plantation}};",
        "x": 444.5,
        "y": 235,
        "wires": [
            [
                "2a3f77ab.ceb4a8"
            ]
        ]
    },
    {
        "id": "e0e1217d.d42a",
        "type": "assert",
        "z": "f5cdc70a.d1345",
        "name": "Ensure that the plantation exists",
        "rules": [
            {
                "property": "payload[0].Found",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "str"
            }
        ],
        "x": 984.5,
        "y": 236,
        "wires": [
            [
                "b5152456.1278e"
            ]
        ]
    },
    {
        "id": "4d195b1a.28db44",
        "type": "comment",
        "z": "f5cdc70a.d1345",
        "name": "Check request validity",
        "info": "",
        "x": 124.5,
        "y": 30,
        "wires": []
    },
    {
        "id": "f96ea93.08192d8",
        "type": "comment",
        "z": "f5cdc70a.d1345",
        "name": "Insert the data into the database",
        "info": "",
        "x": 156.5,
        "y": 369,
        "wires": []
    },
    {
        "id": "5d39668c.4b95b8",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Build insert query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO Mesure (Temperature, Humidite, IdPlantation, Date)\nVALUES (?, ?, ?, CURRENT_TIMESTAMP());",
        "x": 540.7500610351562,
        "y": 449.25,
        "wires": [
            [
                "8ed3d032.57b34"
            ]
        ]
    },
    {
        "id": "ea54cc60.a2a608",
        "type": "catch",
        "z": "f5cdc70a.d1345",
        "name": "Catch DB error",
        "scope": [
            "8ed3d032.57b34",
            "2a3f77ab.ceb4a8"
        ],
        "x": 518.5,
        "y": 717,
        "wires": [
            [
                "c82b306.bc21e5"
            ]
        ]
    },
    {
        "id": "8ed3d032.57b34",
        "type": "mysql",
        "z": "f5cdc70a.d1345",
        "mydb": "c0e93a6b.6b218",
        "name": "Insert the new data",
        "x": 783.7500610351562,
        "y": 450.25,
        "wires": [
            [
                "f931511d.4df85"
            ]
        ]
    },
    {
        "id": "c82b306.bc21e5",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "DB error",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Database access error.",
        "x": 685,
        "y": 716,
        "wires": [
            []
        ]
    },
    {
        "id": "f931511d.4df85",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Build success response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"status\": \"success\"\n}",
        "x": 1017.7500610351562,
        "y": 451.25,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc9ce16.93b58",
        "type": "catch",
        "z": "f5cdc70a.d1345",
        "name": "Plantation does not exist",
        "scope": [
            "e0e1217d.d42a"
        ],
        "x": 489.5,
        "y": 761,
        "wires": [
            [
                "72c9cd89.45279c"
            ]
        ]
    },
    {
        "id": "72c9cd89.45279c",
        "type": "template",
        "z": "f5cdc70a.d1345",
        "name": "Unknown plantation",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Plantation does not exist.",
        "x": 724,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b6c00aca.52478",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1375.611083984375,
        "y": 197.72219848632812,
        "wires": []
    },
    {
        "id": "e764a94d.bb9be",
        "type": "subflow:62b88822.e0ba48",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1265.8452758789062,
        "y": 278.88885498046875,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "eca2e9c.44c4118"
            ]
        ]
    },
    {
        "id": "eca2e9c.44c4118",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1380.3452758789062,
        "y": 299.13885498046875,
        "wires": []
    },
    {
        "id": "65295668.c07b08",
        "type": "template",
        "z": "62b88822.e0ba48",
        "name": "Build getPlantation request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Plantation\nWHERE IdPlantation = '{{{req.params.id}}}';",
        "x": 728.5368957519531,
        "y": 156,
        "wires": [
            [
                "e4f1b4e5.b6d6e"
            ]
        ]
    },
    {
        "id": "e4f1b4e5.b6d6e",
        "type": "mysql",
        "z": "62b88822.e0ba48",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 953.648193359375,
        "y": 156.11117553710938,
        "wires": [
            []
        ]
    },
    {
        "id": "166e797f.b7f407",
        "type": "switch",
        "z": "62b88822.e0ba48",
        "name": "Plantation ID",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 223,
        "y": 160.44444274902344,
        "wires": [
            [
                "4af9db2b.ca1e4c"
            ],
            [
                "80f6a353.a09678"
            ]
        ]
    },
    {
        "id": "4af9db2b.ca1e4c",
        "type": "assert",
        "z": "62b88822.e0ba48",
        "name": "Check parameters",
        "rules": [
            {
                "property": "req.params.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 478.20379638671875,
        "y": 155.44448852539062,
        "wires": [
            [
                "65295668.c07b08"
            ]
        ]
    },
    {
        "id": "c98f5cd3.dacb98",
        "type": "catch",
        "z": "c0c690e.17165f",
        "name": "Catch wrong param",
        "scope": [
            "f4e04fe9.a5d898"
        ],
        "x": 303.5,
        "y": 243,
        "wires": [
            [
                "678d577.6d055a8"
            ]
        ]
    },
    {
        "id": "678d577.6d055a8",
        "type": "template",
        "z": "c0c690e.17165f",
        "name": "Invalid parameter",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID parameter must be numeric.",
        "x": 519,
        "y": 243,
        "wires": [
            []
        ]
    },
    {
        "id": "80f6a353.a09678",
        "type": "template",
        "z": "62b88822.e0ba48",
        "name": "Missing parameter",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID parameter is missing.",
        "x": 493,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "86010c90.83d338",
        "type": "catch",
        "z": "62b88822.e0ba48",
        "name": "Catch wrong param",
        "scope": [
            "4af9db2b.ca1e4c"
        ],
        "x": 278.351806640625,
        "y": 277.18511962890625,
        "wires": [
            [
                "51168cf2.bff47c"
            ]
        ]
    },
    {
        "id": "51168cf2.bff47c",
        "type": "template",
        "z": "62b88822.e0ba48",
        "name": "Invalid parameter",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID parameter must be numeric.",
        "x": 493.851806640625,
        "y": 277.18511962890625,
        "wires": [
            []
        ]
    },
    {
        "id": "32d71a1.bcac766",
        "type": "subflow:91bb539c.8c2b98",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 783.5,
        "y": 686,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "cbc727b4.4700a"
            ]
        ]
    },
    {
        "id": "3751917a.301c36",
        "type": "assert",
        "z": "91bb539c.8c2b98",
        "name": "Check plantation data",
        "rules": [
            {
                "property": "payload.name",
                "propertyType": "msg",
                "type": "type",
                "value": "string"
            },
            {
                "property": "payload.date",
                "propertyType": "msg",
                "type": "type",
                "value": "string"
            },
            {
                "property": "payload.jardin",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            },
            {
                "property": "payload.species",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            }
        ],
        "x": 330.5,
        "y": 159,
        "wires": [
            [
                "58af2cdc.ef4b14"
            ]
        ]
    },
    {
        "id": "2bc05167.03ac2e",
        "type": "comment",
        "z": "91bb539c.8c2b98",
        "name": "Check the existence of the \"jardin\"",
        "info": "",
        "x": 227,
        "y": 248.25,
        "wires": []
    },
    {
        "id": "ba9c7b94.b8b638",
        "type": "comment",
        "z": "91bb539c.8c2b98",
        "name": "Error output",
        "info": "",
        "x": 1042,
        "y": 821,
        "wires": []
    },
    {
        "id": "60fae964.5f7bf",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Catch invalid input",
        "scope": [
            "dde679be.bf36d",
            "3751917a.301c36"
        ],
        "x": 578,
        "y": 783,
        "wires": [
            [
                "ee9a2d27.c7cf48"
            ]
        ]
    },
    {
        "id": "8ef3941e.75d19",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Catch invalid method",
        "scope": [
            "5f9ff481.be1e0c"
        ],
        "x": 570,
        "y": 824,
        "wires": [
            [
                "2d51b011.aada98"
            ]
        ]
    },
    {
        "id": "ee9a2d27.c7cf48",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Invalid input",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Invalid input: some required fields have been omitted or are not of type 'number'.",
        "x": 765.5,
        "y": 782,
        "wires": [
            []
        ]
    },
    {
        "id": "2d51b011.aada98",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Invalid method",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Unknown API method.",
        "x": 776.5,
        "y": 826,
        "wires": [
            []
        ]
    },
    {
        "id": "b5fca8f.c85c3d8",
        "type": "mysql",
        "z": "91bb539c.8c2b98",
        "mydb": "c0e93a6b.6b218",
        "name": "Look for a registered Jardin",
        "x": 745,
        "y": 299,
        "wires": [
            [
                "95050a68.516b38"
            ]
        ]
    },
    {
        "id": "d60ddd4a.0c7988",
        "type": "change",
        "z": "91bb539c.8c2b98",
        "name": "Save data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 308,
        "y": 298,
        "wires": [
            [
                "1153d2b3.b22a25"
            ]
        ]
    },
    {
        "id": "1153d2b3.b22a25",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Build request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT COUNT(IdJardin) as Found\nFROM Jardin\nWHERE IdJardin = {{data.jardin}};",
        "x": 509,
        "y": 300,
        "wires": [
            [
                "b5fca8f.c85c3d8"
            ]
        ]
    },
    {
        "id": "95050a68.516b38",
        "type": "assert",
        "z": "91bb539c.8c2b98",
        "name": "Ensure that the jardin exists",
        "rules": [
            {
                "property": "payload[0].Found",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "str"
            }
        ],
        "x": 1052,
        "y": 298,
        "wires": [
            [
                "82ef108.c314cf"
            ]
        ]
    },
    {
        "id": "1eee29b7.b55abe",
        "type": "comment",
        "z": "91bb539c.8c2b98",
        "name": "Check request validity",
        "info": "",
        "x": 189,
        "y": 95,
        "wires": []
    },
    {
        "id": "579670db.4b88c8",
        "type": "comment",
        "z": "91bb539c.8c2b98",
        "name": "Insert the data into the database",
        "info": "",
        "x": 215,
        "y": 545,
        "wires": []
    },
    {
        "id": "1ec8f41e.b3519c",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Build insert query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO Plantation (Nom, DatePlantation, IdJardin, IdEspece)\nVALUES (?, ?, ?, ?);",
        "x": 560,
        "y": 605,
        "wires": [
            [
                "6819daba.a6bc8c"
            ]
        ]
    },
    {
        "id": "36acc43f.46d1dc",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Catch DB error",
        "scope": [
            "6819daba.a6bc8c",
            "b5fca8f.c85c3d8",
            "c9232d60.a50b3"
        ],
        "x": 590,
        "y": 871,
        "wires": [
            [
                "13b5b784.85bf3"
            ]
        ]
    },
    {
        "id": "6819daba.a6bc8c",
        "type": "mysql",
        "z": "91bb539c.8c2b98",
        "mydb": "c0e93a6b.6b218",
        "name": "Insert the new data",
        "x": 803,
        "y": 606,
        "wires": [
            [
                "b471f9c.ad13588"
            ]
        ]
    },
    {
        "id": "13b5b784.85bf3",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "DB error",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Database access error.",
        "x": 756.5,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "b471f9c.ad13588",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Build success response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"status\": \"success\"\n}",
        "x": 1037,
        "y": 607,
        "wires": [
            []
        ]
    },
    {
        "id": "29747f38.7cc5c",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Jardin does not exist",
        "scope": [
            "95050a68.516b38"
        ],
        "x": 572,
        "y": 915,
        "wires": [
            [
                "ee2a8f6b.f8825"
            ]
        ]
    },
    {
        "id": "ee2a8f6b.f8825",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Unknown Jardin",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Jardin ID does not exist.",
        "x": 775.5,
        "y": 914,
        "wires": [
            []
        ]
    },
    {
        "id": "a7e93fc2.1457a8",
        "type": "comment",
        "z": "91bb539c.8c2b98",
        "name": "Check the existence of the species",
        "info": "",
        "x": 224,
        "y": 372,
        "wires": []
    },
    {
        "id": "c9232d60.a50b3",
        "type": "mysql",
        "z": "91bb539c.8c2b98",
        "mydb": "c0e93a6b.6b218",
        "name": "Look for a registered species",
        "x": 554,
        "y": 424.75,
        "wires": [
            [
                "beaa99c0.e9f8b"
            ]
        ]
    },
    {
        "id": "82ef108.c314cf",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Build request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT COUNT(IdEspece) as Found\nFROM Espece\nWHERE IdEspece = {{data.species}};",
        "x": 308,
        "y": 425.75,
        "wires": [
            [
                "c9232d60.a50b3"
            ]
        ]
    },
    {
        "id": "beaa99c0.e9f8b",
        "type": "assert",
        "z": "91bb539c.8c2b98",
        "name": "Ensure that the species exists",
        "rules": [
            {
                "property": "payload[0].Found",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "str"
            }
        ],
        "x": 861,
        "y": 423.75,
        "wires": [
            [
                "3014984e.0911e"
            ]
        ]
    },
    {
        "id": "603d82b1.2ea76c",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Species does not exist",
        "scope": [
            "beaa99c0.e9f8b"
        ],
        "x": 573,
        "y": 959,
        "wires": [
            [
                "9631ea9b.a38db"
            ]
        ]
    },
    {
        "id": "9631ea9b.a38db",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Unknown species",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Species ID does not exist.",
        "x": 783,
        "y": 959,
        "wires": [
            []
        ]
    },
    {
        "id": "cbc727b4.4700a",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 903,
        "y": 698,
        "wires": []
    },
    {
        "id": "58af2cdc.ef4b14",
        "type": "assert",
        "z": "91bb539c.8c2b98",
        "name": "Check date",
        "rules": [
            {
                "property": "payload.date",
                "propertyType": "msg",
                "type": "regex",
                "value": "^\\d\\d\\d\\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 553,
        "y": 159,
        "wires": [
            [
                "d60ddd4a.0c7988"
            ]
        ]
    },
    {
        "id": "612da98a.2d9dc",
        "type": "catch",
        "z": "91bb539c.8c2b98",
        "name": "Catch invalid date",
        "scope": [
            "58af2cdc.ef4b14"
        ],
        "x": 584,
        "y": 1007,
        "wires": [
            [
                "1db8b31d.fe898d"
            ]
        ]
    },
    {
        "id": "1db8b31d.fe898d",
        "type": "template",
        "z": "91bb539c.8c2b98",
        "name": "Wrong date",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Date must follow the format YYYY-MM-DD.",
        "x": 764,
        "y": 1007,
        "wires": [
            []
        ]
    },
    {
        "id": "3014984e.0911e",
        "type": "change",
        "z": "91bb539c.8c2b98",
        "name": "Prepare query parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    msg.data.name,\t    msg.data.date,\t    msg.data.jardin,\t    msg.data.species\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 315.5,
        "y": 605,
        "wires": [
            [
                "1ec8f41e.b3519c"
            ]
        ]
    },
    {
        "id": "bb595251.f31878",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "API Server (DELETE)",
        "url": "/api/:resource/:id?",
        "method": "delete",
        "swaggerDoc": "",
        "x": 221,
        "y": 888,
        "wires": [
            [
                "7bbf95a7.3fde64"
            ]
        ]
    },
    {
        "id": "26a111f5.94ef96",
        "type": "comment",
        "z": "6f7fbf07.4b33a",
        "name": "Error output",
        "info": "",
        "x": 866,
        "y": 260,
        "wires": []
    },
    {
        "id": "8646c049.5c611",
        "type": "template",
        "z": "6f7fbf07.4b33a",
        "name": "Build insert query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM Plantation\nWHERE IdPlantation = ?;",
        "x": 548,
        "y": 168,
        "wires": [
            [
                "2605b17.4be97ce"
            ]
        ]
    },
    {
        "id": "e403e1be.41a588",
        "type": "catch",
        "z": "6f7fbf07.4b33a",
        "name": "Catch DB error",
        "scope": [
            "2605b17.4be97ce",
            "b7380d8b.6c4708",
            "4cbcec56.0738e4"
        ],
        "x": 477,
        "y": 264,
        "wires": [
            [
                "fbd5d107.d93c1"
            ]
        ]
    },
    {
        "id": "2605b17.4be97ce",
        "type": "mysql",
        "z": "6f7fbf07.4b33a",
        "mydb": "c0e93a6b.6b218",
        "name": "Delete plantation",
        "x": 791,
        "y": 169,
        "wires": [
            [
                "6f469df0.ecf77c"
            ]
        ]
    },
    {
        "id": "fbd5d107.d93c1",
        "type": "template",
        "z": "6f7fbf07.4b33a",
        "name": "DB error",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Database access error.",
        "x": 643.5,
        "y": 263,
        "wires": [
            []
        ]
    },
    {
        "id": "6f469df0.ecf77c",
        "type": "template",
        "z": "6f7fbf07.4b33a",
        "name": "Build success response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"status\": \"success\"\n}",
        "x": 1025,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "cac60088.dc2d9",
        "type": "change",
        "z": "6f7fbf07.4b33a",
        "name": "Prepare query parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    msg.req.params.id\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 303.5,
        "y": 168,
        "wires": [
            [
                "8646c049.5c611"
            ]
        ]
    },
    {
        "id": "115668bf.838a8f",
        "type": "subflow:6f7fbf07.4b33a",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1071.5,
        "y": 859,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "ccd25db.9be51a"
            ]
        ]
    },
    {
        "id": "6cd73a6f.3d3e54",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch API resource",
        "property": "req.params.resource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "plantation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "measure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jardin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 504,
        "y": 730,
        "wires": [
            [
                "32d71a1.bcac766"
            ],
            [
                "caa219fc.8a0be"
            ],
            [
                "faa7758e.5b33b"
            ],
            [
                "71e5e4ce.6f8094"
            ]
        ]
    },
    {
        "id": "46f41609.e60888",
        "type": "link in",
        "z": "cf757416.97ca88",
        "name": "Unknown method",
        "links": [
            "65b40eb7.d1b58",
            "71e5e4ce.6f8094",
            "baaa8ccd.aa15c8",
            "bc56ad91.b46998"
        ],
        "x": 657.5,
        "y": 1256,
        "wires": [
            [
                "284a0285.11f016"
            ]
        ]
    },
    {
        "id": "65b40eb7.d1b58",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "46f41609.e60888"
        ],
        "x": 644.9166107177734,
        "y": 330.8888854980469,
        "wires": []
    },
    {
        "id": "71e5e4ce.6f8094",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "46f41609.e60888"
        ],
        "x": 647,
        "y": 772,
        "wires": []
    },
    {
        "id": "a5bc934f.716eb",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch resource identifier",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 807.9166259765625,
        "y": 133.13890075683594,
        "wires": [
            [
                "594cde33.5b3f78"
            ],
            [
                "77421cd9.e662e4"
            ]
        ]
    },
    {
        "id": "7bbf95a7.3fde64",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch API resource",
        "property": "req.params.resource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "plantation",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 507,
        "y": 888,
        "wires": [
            [
                "5170d674.638dc8"
            ],
            [
                "baaa8ccd.aa15c8"
            ]
        ]
    },
    {
        "id": "baaa8ccd.aa15c8",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "46f41609.e60888"
        ],
        "x": 653,
        "y": 906,
        "wires": []
    },
    {
        "id": "ccd25db.9be51a",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1215,
        "y": 877,
        "wires": []
    },
    {
        "id": "5170d674.638dc8",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch resource identifier",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 823,
        "y": 879,
        "wires": [
            [
                "115668bf.838a8f"
            ],
            [
                "667b9478.d24054"
            ]
        ]
    },
    {
        "id": "db22c410.ed5418",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Missing ID",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Missing ID parameter.",
        "x": 807,
        "y": 1305,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "728355d3.d9d8dc",
        "type": "link in",
        "z": "cf757416.97ca88",
        "name": "Missing ID",
        "links": [
            "667b9478.d24054",
            "d330f533.5ade68",
            "c20063f8.2e80f",
            "a3b7915d.9b03c"
        ],
        "x": 657.5,
        "y": 1307,
        "wires": [
            [
                "db22c410.ed5418"
            ]
        ]
    },
    {
        "id": "667b9478.d24054",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "728355d3.d9d8dc"
        ],
        "x": 995.5,
        "y": 901,
        "wires": []
    },
    {
        "id": "6e81c4a0.b6574c",
        "type": "subflow:9532cdda.cdb6c",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 755.5,
        "y": 994,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "f96e5746.274188"
            ]
        ]
    },
    {
        "id": "f96e5746.274188",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 869,
        "y": 1005,
        "wires": []
    },
    {
        "id": "145da335.99787d",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "Build success response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"status\": \"success\"\n}",
        "x": 1175.6112670898438,
        "y": 283.3333740234375,
        "wires": [
            []
        ]
    },
    {
        "id": "b70b7a51.4b5f18",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "API Server (PUT)",
        "url": "/api/:resource/:id?/:subresource?",
        "method": "put",
        "swaggerDoc": "",
        "x": 201,
        "y": 998,
        "wires": [
            [
                "6b32618c.1f0678"
            ]
        ]
    },
    {
        "id": "6b32618c.1f0678",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch API resource",
        "property": "req.params.resource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "jardin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 504,
        "y": 999,
        "wires": [
            [
                "6e81c4a0.b6574c"
            ],
            [
                "bc56ad91.b46998"
            ]
        ]
    },
    {
        "id": "bc56ad91.b46998",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "46f41609.e60888"
        ],
        "x": 662,
        "y": 1034,
        "wires": []
    },
    {
        "id": "ba879a82.c52f68",
        "type": "switch",
        "z": "9532cdda.cdb6c",
        "name": "Check resource identifier",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 533.5556335449219,
        "y": 286.55560302734375,
        "wires": [
            [
                "a680707d.679a7"
            ],
            [
                "2eb98c0c.6cad44"
            ]
        ]
    },
    {
        "id": "a680707d.679a7",
        "type": "switch",
        "z": "9532cdda.cdb6c",
        "name": "Check subresource identifier",
        "property": "req.params.subresource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 847.5556335449219,
        "y": 279.55560302734375,
        "wires": [
            [
                "e43ee92b.351d58",
                "145da335.99787d"
            ],
            [
                "c6ef9291.f0be4"
            ]
        ]
    },
    {
        "id": "2eb98c0c.6cad44",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "No resource",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "No resource specified",
        "x": 764.0556335449219,
        "y": 376.55560302734375,
        "wires": [
            []
        ]
    },
    {
        "id": "c6ef9291.f0be4",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "URL error",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "There is nothing to do here. You may have omitted the subresource identifier or have been mistaken in the HTTP verb.",
        "x": 1092.5556335449219,
        "y": 338.55560302734375,
        "wires": [
            []
        ]
    },
    {
        "id": "77421cd9.e662e4",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Is there a subresource",
        "property": "req.params.subresource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "plantation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "picture",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 1065.9166870117188,
        "y": 139.63890075683594,
        "wires": [
            [
                "4197c057.ef90a8"
            ],
            [
                "e7be5398.a59dd8"
            ],
            [
                "2db919b9.1509d6"
            ],
            [
                "d9ceda21.6b7e68"
            ]
        ]
    },
    {
        "id": "4197c057.ef90a8",
        "type": "subflow:bb046e2c.50cdc",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1261.88916015625,
        "y": 84.22225189208984,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "9bb1173e.b4779"
            ]
        ]
    },
    {
        "id": "9bb1173e.b4779",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1381.888916015625,
        "y": 102.00001525878906,
        "wires": []
    },
    {
        "id": "f64afa92.ea0f",
        "type": "assert",
        "z": "bb046e2c.50cdc",
        "name": "Check ID",
        "rules": [
            {
                "property": "req.params.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 185,
        "y": 128.75,
        "wires": [
            [
                "3f82e05d.8c4fb"
            ]
        ]
    },
    {
        "id": "3f82e05d.8c4fb",
        "type": "template",
        "z": "bb046e2c.50cdc",
        "name": "Build query",
        "field": "topic",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Plantation\nWHERE IdJardin = {{{req.params.id}}};",
        "x": 356.25,
        "y": 130,
        "wires": [
            [
                "8d820950.f2c858"
            ]
        ]
    },
    {
        "id": "8d820950.f2c858",
        "type": "mysql",
        "z": "bb046e2c.50cdc",
        "mydb": "c0e93a6b.6b218",
        "name": "Run query",
        "x": 535,
        "y": 130,
        "wires": [
            []
        ]
    },
    {
        "id": "42068ba0.634024",
        "type": "catch",
        "z": "bb046e2c.50cdc",
        "name": "Catch ID error",
        "scope": [
            "f64afa92.ea0f"
        ],
        "x": 352.5,
        "y": 220,
        "wires": [
            [
                "2d44f299.f39546"
            ]
        ]
    },
    {
        "id": "2d44f299.f39546",
        "type": "template",
        "z": "bb046e2c.50cdc",
        "name": "ID error",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID must be numeric",
        "x": 535,
        "y": 217.5,
        "wires": [
            []
        ]
    },
    {
        "id": "2db919b9.1509d6",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "845631b1.04edb"
        ],
        "x": 1204.6668090820312,
        "y": 158.11114501953125,
        "wires": []
    },
    {
        "id": "845631b1.04edb",
        "type": "link in",
        "z": "cf757416.97ca88",
        "name": "Unknown subresource",
        "links": [
            "2db919b9.1509d6",
            "9914e7fc.ff32b8"
        ],
        "x": 646,
        "y": 1355.5,
        "wires": [
            [
                "a783f671.df4f2"
            ]
        ]
    },
    {
        "id": "a783f671.df4f2",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Unkown subresource",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "Unknown subresource: {{{req.params.subresource}}}.",
        "x": 777.25,
        "y": 1355.5,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "ac32d4a6.793a58",
        "type": "subflow:fa882373.ddcd1",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 1032.238037109375,
        "y": 329.0317687988281,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "ab508868.bedc8"
            ]
        ]
    },
    {
        "id": "ab508868.bedc8",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1139.738037109375,
        "y": 351.5317687988281,
        "wires": []
    },
    {
        "id": "ba65c1e5.e71bd8",
        "type": "template",
        "z": "fa882373.ddcd1",
        "name": "Build getSpecies request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Espece\nWHERE IdEspece = '{{{req.params.id}}}';",
        "x": 513.3941345214844,
        "y": 222.85711669921875,
        "wires": [
            [
                "9cdb8490.28ecc8"
            ]
        ]
    },
    {
        "id": "9cdb8490.28ecc8",
        "type": "mysql",
        "z": "fa882373.ddcd1",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 748.5054321289062,
        "y": 222.96829223632812,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2f5305.b3be14",
        "type": "catch",
        "z": "fa882373.ddcd1",
        "name": "Catch invalid ID",
        "scope": [
            "322c02e7.cf7a96"
        ],
        "x": 356.0661315917969,
        "y": 339.7565612792969,
        "wires": [
            [
                "c1abc6b2.e4c898"
            ]
        ]
    },
    {
        "id": "c1abc6b2.e4c898",
        "type": "template",
        "z": "fa882373.ddcd1",
        "name": "Invalid ID",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID parameter must be numeric.",
        "x": 551.5661315917969,
        "y": 339.7565612792969,
        "wires": [
            []
        ]
    },
    {
        "id": "10576df6.2e3322",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch resource identifier",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 809.4286193847656,
        "y": 228.78570556640625,
        "wires": [
            [
                "562b3a1c.17aba4"
            ],
            [
                "c20063f8.2e80f"
            ]
        ]
    },
    {
        "id": "c20063f8.2e80f",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "728355d3.d9d8dc"
        ],
        "x": 952.8214111328125,
        "y": 277.53570556640625,
        "wires": []
    },
    {
        "id": "322c02e7.cf7a96",
        "type": "assert",
        "z": "fa882373.ddcd1",
        "name": "Check ID",
        "rules": [
            {
                "property": "req.params.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 294.2857360839844,
        "y": 221.42855834960938,
        "wires": [
            [
                "ba65c1e5.e71bd8"
            ]
        ]
    },
    {
        "id": "562b3a1c.17aba4",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Is there a subresource",
        "property": "req.params.subresource",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "measure",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 1059.25,
        "y": 222,
        "wires": [
            [
                "a6de5f6.348672"
            ],
            [
                "9914e7fc.ff32b8"
            ],
            [
                "e764a94d.bb9be"
            ]
        ]
    },
    {
        "id": "9914e7fc.ff32b8",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "",
        "links": [
            "845631b1.04edb"
        ],
        "x": 1208.75,
        "y": 245,
        "wires": []
    },
    {
        "id": "a6de5f6.348672",
        "type": "subflow:8a02f2c8.b7f3c8",
        "z": "cf757416.97ca88",
        "x": 1312.5,
        "y": 235,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "e8c076f.91a5c88"
            ]
        ]
    },
    {
        "id": "e8c076f.91a5c88",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1418.75,
        "y": 247.5,
        "wires": []
    },
    {
        "id": "634ea81f.062a9",
        "type": "assert",
        "z": "8a02f2c8.b7f3c8",
        "name": "Check ID",
        "rules": [
            {
                "property": "req.params.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 220,
        "y": 177.5,
        "wires": [
            [
                "add20221.3d6558"
            ]
        ]
    },
    {
        "id": "add20221.3d6558",
        "type": "template",
        "z": "8a02f2c8.b7f3c8",
        "name": "Build query",
        "field": "topic",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Mesure\nWHERE IdPlantation = {{{req.params.id}}};",
        "x": 391.25,
        "y": 178.75,
        "wires": [
            [
                "5a3d30d6.7d80f8"
            ]
        ]
    },
    {
        "id": "5a3d30d6.7d80f8",
        "type": "mysql",
        "z": "8a02f2c8.b7f3c8",
        "mydb": "c0e93a6b.6b218",
        "name": "Run query",
        "x": 570,
        "y": 178.75,
        "wires": [
            []
        ]
    },
    {
        "id": "5d266961.ccc4",
        "type": "catch",
        "z": "8a02f2c8.b7f3c8",
        "name": "Catch ID error",
        "scope": [
            "634ea81f.062a9"
        ],
        "x": 387.5,
        "y": 268.75,
        "wires": [
            [
                "8ddfb0f5.bb18b"
            ]
        ]
    },
    {
        "id": "8ddfb0f5.bb18b",
        "type": "template",
        "z": "8a02f2c8.b7f3c8",
        "name": "ID error",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID must be numeric",
        "x": 570,
        "y": 266.25,
        "wires": [
            []
        ]
    },
    {
        "id": "af80d092.89dea8",
        "type": "catch",
        "z": "bb046e2c.50cdc",
        "name": "Generic error",
        "scope": null,
        "x": 351.25,
        "y": 275,
        "wires": [
            [
                "684ec927.979b98"
            ]
        ]
    },
    {
        "id": "684ec927.979b98",
        "type": "template",
        "z": "bb046e2c.50cdc",
        "name": "Generic error",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Internal server error.",
        "x": 553.75,
        "y": 272.5,
        "wires": [
            []
        ]
    },
    {
        "id": "b5152456.1278e",
        "type": "change",
        "z": "f5cdc70a.d1345",
        "name": "Prepare query parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    msg.data.temperature,\t    msg.data.moisture,\t    msg.data.plantation\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 450,
        "wires": [
            [
                "5d39668c.4b95b8"
            ]
        ]
    },
    {
        "id": "6005f721.9eb47",
        "type": "assert",
        "z": "9cf2d673.54a5e",
        "name": "Check garden data",
        "rules": [
            {
                "property": "payload.name",
                "propertyType": "msg",
                "type": "type",
                "value": "string"
            },
            {
                "property": "payload.position",
                "propertyType": "msg",
                "type": "type",
                "value": "object"
            },
            {
                "property": "payload.position.lat",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            },
            {
                "property": "payload.position.lon",
                "propertyType": "msg",
                "type": "type",
                "value": "number"
            }
        ],
        "x": 292.5,
        "y": 483.75,
        "wires": [
            [
                "4437e5c2.8028cc"
            ]
        ]
    },
    {
        "id": "f3b22ec1.90818",
        "type": "comment",
        "z": "9cf2d673.54a5e",
        "name": "Error output",
        "info": "",
        "x": 1020.25,
        "y": 822,
        "wires": []
    },
    {
        "id": "85c160cd.2f367",
        "type": "catch",
        "z": "9cf2d673.54a5e",
        "name": "Catch invalid input",
        "scope": [
            "dde679be.bf36d",
            "6005f721.9eb47"
        ],
        "x": 556.25,
        "y": 784,
        "wires": [
            [
                "c58cd418.bf6558"
            ]
        ]
    },
    {
        "id": "c58cd418.bf6558",
        "type": "template",
        "z": "9cf2d673.54a5e",
        "name": "Invalid input",
        "field": "error.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Invalid input: some required fields have been omitted or are not of right type.",
        "x": 743.75,
        "y": 783,
        "wires": [
            []
        ]
    },
    {
        "id": "b7be6fb.1ecd19",
        "type": "comment",
        "z": "9cf2d673.54a5e",
        "name": "Check request validity",
        "info": "",
        "x": 161,
        "y": 419.75,
        "wires": []
    },
    {
        "id": "f3903224.272ad8",
        "type": "comment",
        "z": "9cf2d673.54a5e",
        "name": "Insert the data into the database",
        "info": "",
        "x": 193.25,
        "y": 546,
        "wires": []
    },
    {
        "id": "54af7907.1042d",
        "type": "template",
        "z": "9cf2d673.54a5e",
        "name": "Build insert query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO Jardin (Nom, Latitude, Longitude)\nVALUES (?, ?, ?);",
        "x": 538.25,
        "y": 606,
        "wires": [
            [
                "9a4a83e4.7d2ff"
            ]
        ]
    },
    {
        "id": "707d9464.0360ac",
        "type": "catch",
        "z": "9cf2d673.54a5e",
        "name": "Catch DB error",
        "scope": [
            "9a4a83e4.7d2ff",
            "5a495d7f.dfda54",
            "a06ab560.9c6498"
        ],
        "x": 568.25,
        "y": 872,
        "wires": [
            [
                "7cba3170.7a42d8"
            ]
        ]
    },
    {
        "id": "9a4a83e4.7d2ff",
        "type": "mysql",
        "z": "9cf2d673.54a5e",
        "mydb": "c0e93a6b.6b218",
        "name": "Insert the new data",
        "x": 781.25,
        "y": 607,
        "wires": [
            [
                "e714db6d.c9912"
            ]
        ]
    },
    {
        "id": "7cba3170.7a42d8",
        "type": "template",
        "z": "9cf2d673.54a5e",
        "name": "DB error",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Database access error.",
        "x": 734.75,
        "y": 871,
        "wires": [
            []
        ]
    },
    {
        "id": "e714db6d.c9912",
        "type": "template",
        "z": "9cf2d673.54a5e",
        "name": "Build success response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"status\": \"success\"\n}",
        "x": 1015.25,
        "y": 608,
        "wires": [
            []
        ]
    },
    {
        "id": "a84957cc.a092",
        "type": "change",
        "z": "9cf2d673.54a5e",
        "name": "Prepare query parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    msg.data.name,\t    msg.data.position.lat,\t    msg.data.position.lon\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 293.75,
        "y": 606,
        "wires": [
            [
                "54af7907.1042d"
            ]
        ]
    },
    {
        "id": "faa7758e.5b33b",
        "type": "subflow:9cf2d673.54a5e",
        "z": "cf757416.97ca88",
        "name": "",
        "x": 765,
        "y": 772.5,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "a1f73269.2f7998"
            ]
        ]
    },
    {
        "id": "a1f73269.2f7998",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 867.5,
        "y": 801.25,
        "wires": []
    },
    {
        "id": "4437e5c2.8028cc",
        "type": "change",
        "z": "9cf2d673.54a5e",
        "name": "Save request data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 531.5,
        "y": 483,
        "wires": [
            [
                "a84957cc.a092"
            ]
        ]
    },
    {
        "id": "6df18fb7.3b6e48",
        "type": "change",
        "z": "9532cdda.cdb6c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "req.headers['content-type']",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1271.1111450195312,
        "y": 164.44451904296875,
        "wires": [
            [
                "868d3263.3e903"
            ]
        ]
    },
    {
        "id": "868d3263.3e903",
        "type": "file",
        "z": "9532cdda.cdb6c",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1472.2222900390625,
        "y": 162.22225952148438,
        "wires": []
    },
    {
        "id": "e43ee92b.351d58",
        "type": "function",
        "z": "9532cdda.cdb6c",
        "name": "msg",
        "func": "msg.filename = \"/home/pi/picture/\" + msg.req.params.id + \".jpg\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1081.666741265191,
        "y": 223.33335537380643,
        "wires": [
            [
                "6df18fb7.3b6e48"
            ]
        ]
    },
    {
        "id": "23b140d5.b9b7c",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "API Server (POST)",
        "url": "/api/:resource/:id?",
        "method": "post",
        "swaggerDoc": "",
        "x": 210.00003051757812,
        "y": 733.3333129882812,
        "wires": [
            [
                "6cd73a6f.3d3e54"
            ]
        ]
    },
    {
        "id": "ea219c68.d3d578",
        "type": "assert",
        "z": "9532cdda.cdb6c",
        "name": "Ensure request is complete",
        "rules": [
            {
                "property": "req.complete",
                "propertyType": "msg",
                "type": "true"
            },
            {
                "property": "req.headers.accept",
                "propertyType": "msg",
                "type": "null"
            }
        ],
        "x": 238.33331298828125,
        "y": 284.4444580078125,
        "wires": [
            [
                "aecb62b7.2fe8d"
            ]
        ]
    },
    {
        "id": "68653342.1bd9a4",
        "type": "catch",
        "z": "9532cdda.cdb6c",
        "name": "Catch wrong request",
        "scope": [
            "ea219c68.d3d578"
        ],
        "x": 698.3333740234375,
        "y": 462.2222595214844,
        "wires": [
            [
                "d7ff9c6d.4d631"
            ]
        ]
    },
    {
        "id": "d7ff9c6d.4d631",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "Bad request",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Bad request. Please make sure there is no \"Accept\" header in your request and that it is completed.",
        "x": 913.3333740234375,
        "y": 458.8889465332031,
        "wires": [
            []
        ]
    },
    {
        "id": "aecb62b7.2fe8d",
        "type": "assert",
        "z": "9532cdda.cdb6c",
        "name": "Limit file size",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "buffer"
            },
            {
                "property": "payload.length",
                "propertyType": "msg",
                "type": "lte",
                "value": "1000000",
                "valueType": "str"
            }
        ],
        "x": 288.33331298828125,
        "y": 350,
        "wires": [
            [
                "d3a9231a.af4d68"
            ]
        ]
    },
    {
        "id": "143b083b.08701",
        "type": "catch",
        "z": "9532cdda.cdb6c",
        "name": "Catch file too large",
        "scope": [
            "aecb62b7.2fe8d"
        ],
        "x": 712.2222900390625,
        "y": 508.88897705078125,
        "wires": [
            [
                "98e3b22b.3071"
            ]
        ]
    },
    {
        "id": "98e3b22b.3071",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "Too large file",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "File too large. Please do not exceed 1MB upload.",
        "x": 911.1112060546875,
        "y": 506.6667175292969,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a9231a.af4d68",
        "type": "assert",
        "z": "9532cdda.cdb6c",
        "name": "Check Mime Type",
        "rules": [
            {
                "property": "req.headers.content-type",
                "propertyType": "msg",
                "type": "eq",
                "value": "image/jpeg",
                "valueType": "str"
            }
        ],
        "x": 271.6667175292969,
        "y": 405.5555725097656,
        "wires": [
            [
                "ba879a82.c52f68"
            ]
        ]
    },
    {
        "id": "d5cf628.740f0a",
        "type": "catch",
        "z": "9532cdda.cdb6c",
        "name": "Catch not image file",
        "scope": [
            "d3a9231a.af4d68"
        ],
        "x": 713.3333740234375,
        "y": 555.5555419921875,
        "wires": [
            [
                "d8a004ff.d673d"
            ]
        ]
    },
    {
        "id": "d8a004ff.d673d",
        "type": "template",
        "z": "9532cdda.cdb6c",
        "name": "Not image",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "File is not an image file. Only JPEG files are accepted.",
        "x": 908.888916015625,
        "y": 554.4444580078125,
        "wires": [
            []
        ]
    },
    {
        "id": "e7be5398.a59dd8",
        "type": "subflow:7e125cac.4a335c",
        "z": "cf757416.97ca88",
        "x": 1246.1111450195312,
        "y": 124.44442749023438,
        "wires": [
            [
                "c18675e1.151718"
            ],
            [
                "fee655f0.121ba8"
            ]
        ]
    },
    {
        "id": "fee655f0.121ba8",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1346.666748046875,
        "y": 150.00001525878906,
        "wires": []
    },
    {
        "id": "5c95f385.c38914",
        "type": "file in",
        "z": "7e125cac.4a335c",
        "name": "",
        "filename": "",
        "format": "",
        "x": 541.6666870117188,
        "y": 136.66665649414062,
        "wires": [
            [
                "e576996b.0d90c"
            ]
        ]
    },
    {
        "id": "595bf42.5f8318c",
        "type": "function",
        "z": "7e125cac.4a335c",
        "name": "",
        "func": "msg.filename = \"/home/pi/picture/\" + msg.req.params.id + \".jpg\";\n\nif (msg.headers == null) {\n    msg.headers = [];\n}\nmsg.headers['Content-Type'] = 'image/jpeg';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 332.77777777777777,
        "y": 142.22222222222223,
        "wires": [
            [
                "5c95f385.c38914"
            ]
        ]
    },
    {
        "id": "7bdbdac7.8a9204",
        "type": "catch",
        "z": "7e125cac.4a335c",
        "name": "",
        "scope": null,
        "x": 337.2222900390625,
        "y": 210,
        "wires": [
            [
                "b746c113.165588"
            ]
        ]
    },
    {
        "id": "b746c113.165588",
        "type": "template",
        "z": "7e125cac.4a335c",
        "name": "Generic message",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Cannot find requested file.",
        "x": 541.6666666666666,
        "y": 205.55555555555554,
        "wires": [
            []
        ]
    },
    {
        "id": "e576996b.0d90c",
        "type": "debug",
        "z": "7e125cac.4a335c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 717.2222222222222,
        "y": 63.33333333333333,
        "wires": []
    },
    {
        "id": "665bdec9.608108",
        "type": "debug",
        "z": "cf757416.97ca88",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2371.6666666666665,
        "y": 227.77777777777777,
        "wires": []
    },
    {
        "id": "b692332a.deb14",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch resource identifier",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 810,
        "y": 314,
        "wires": [
            [
                "ac32d4a6.793a58"
            ],
            [
                "28f867fb.2958b"
            ]
        ]
    },
    {
        "id": "28f867fb.2958b",
        "type": "subflow:98185682.0be158",
        "z": "cf757416.97ca88",
        "x": 1032,
        "y": 370,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "9245c5d1.f972c"
            ]
        ]
    },
    {
        "id": "9245c5d1.f972c",
        "type": "link out",
        "z": "cf757416.97ca88",
        "name": "addMeasure error output",
        "links": [
            "5f0ab50a.1ba7e4"
        ],
        "x": 1142,
        "y": 402,
        "wires": []
    },
    {
        "id": "4827d04f.178758",
        "type": "template",
        "z": "98185682.0be158",
        "name": "Build getJardin request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Espece;",
        "x": 317.77783203125,
        "y": 131.11111450195312,
        "wires": [
            [
                "d3aa7112.fd2b1"
            ]
        ]
    },
    {
        "id": "d3aa7112.fd2b1",
        "type": "mysql",
        "z": "98185682.0be158",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 543.8891906738281,
        "y": 127.2222900390625,
        "wires": [
            []
        ]
    },
    {
        "id": "aa9f201.eb89d6",
        "type": "template",
        "z": "98185682.0be158",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Internal server error.",
        "x": 553.3333740234375,
        "y": 210.00003051757812,
        "wires": [
            []
        ]
    },
    {
        "id": "2f62e581.62339a",
        "type": "catch",
        "z": "98185682.0be158",
        "name": "Catch generic error",
        "scope": null,
        "x": 380.00006103515625,
        "y": 210.00003051757812,
        "wires": [
            [
                "aa9f201.eb89d6"
            ]
        ]
    }
]