backend.json
[
    {
        "id": "cf757416.97ca88",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "c0c690e.17165f",
        "type": "subflow",
        "name": "getJardin",
        "info": "",
        "in": [
            {
                "x": 157.7777862548828,
                "y": 157.77780151367188,
                "wires": [
                    {
                        "id": "9cdff1d.e79931"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1342.7777099609375,
                "y": 159.77781677246094,
                "wires": [
                    {
                        "id": "faa9fba7.275148",
                        "port": 0
                    }
                ]
            },
            {
                "x": 889,
                "y": 224,
                "wires": [
                    {
                        "id": "9f1a99bf.777d5",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "60ebfa82.7e48a4",
        "type": "subflow",
        "name": "getJardins",
        "info": "",
        "in": [
            {
                "x": 394,
                "y": 90,
                "wires": [
                    {
                        "id": "9196efb8.384d18"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1015,
                "y": 85,
                "wires": [
                    {
                        "id": "6b9112f0.82fa84",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c0e93a6b.6b218",
        "type": "MySQLdatabase",
        "z": "",
        "host": "5.51.180.42",
        "port": "3306",
        "db": "veggicity",
        "tz": ""
    },
    {
        "id": "17557121.6b5617",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "App API Server",
        "url": "/api/app",
        "method": "get",
        "swaggerDoc": "",
        "x": 195.5,
        "y": 325,
        "wires": [
            [
                "a7695812.f1ac8"
            ]
        ]
    },
    {
        "id": "b1ae170e.beb5e",
        "type": "http in",
        "z": "cf757416.97ca88",
        "name": "Censors API Server",
        "url": "/api/censors",
        "method": "get",
        "swaggerDoc": "",
        "x": 189.5,
        "y": 398,
        "wires": [
            [
                "a7695812.f1ac8"
            ]
        ]
    },
    {
        "id": "c18675e1.151718",
        "type": "http response",
        "z": "cf757416.97ca88",
        "name": "Server response",
        "x": 1494.27783203125,
        "y": 333.666748046875,
        "wires": []
    },
    {
        "id": "284a0285.11f016",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Unkown method",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Unknown method.",
        "x": 780.8333740234375,
        "y": 449.6666259765625,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "a7695812.f1ac8",
        "type": "switch",
        "z": "cf757416.97ca88",
        "name": "Dispatch API method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getJardins",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getJardin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 493.5,
        "y": 330,
        "wires": [
            [
                "594cde33.5b3f78"
            ],
            [
                "d9ceda21.6b7e68"
            ],
            [
                "284a0285.11f016"
            ]
        ]
    },
    {
        "id": "4711bf20.436468",
        "type": "catch",
        "z": "cf757416.97ca88",
        "name": "Catch parameter error",
        "scope": [
            "9c2c7a2c.155328"
        ],
        "x": 726.166748046875,
        "y": 551.7777709960938,
        "wires": [
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "568149d7.fddb88",
        "type": "template",
        "z": "cf757416.97ca88",
        "name": "Build error message",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"status\": \"error\",\n    \"message\": \"{{error.message}}\"\n}",
        "x": 1090.1666870117188,
        "y": 555,
        "wires": [
            [
                "f6aabc36.9a9aa"
            ]
        ]
    },
    {
        "id": "44d1a26b.89eb44",
        "type": "template",
        "z": "c0c690e.17165f",
        "name": "Build getJardin request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Jardin\nWHERE IdJardin = '{{{payload.id}}}';",
        "x": 976.2220458984375,
        "y": 157.6666259765625,
        "wires": [
            [
                "faa9fba7.275148"
            ]
        ]
    },
    {
        "id": "faa9fba7.275148",
        "type": "mysql",
        "z": "c0c690e.17165f",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 1179.3333740234375,
        "y": 156.77780151367188,
        "wires": [
            []
        ]
    },
    {
        "id": "9cdff1d.e79931",
        "type": "switch",
        "z": "c0c690e.17165f",
        "name": "Jardin ID",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 470.6851501464844,
        "y": 162.11106872558594,
        "wires": [
            [
                "f4e04fe9.a5d898"
            ],
            [
                "9f1a99bf.777d5"
            ]
        ]
    },
    {
        "id": "9f1a99bf.777d5",
        "type": "template",
        "z": "c0c690e.17165f",
        "name": "getJardin",
        "field": "error.message",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "ID parameter is missing.",
        "x": 759.148193359375,
        "y": 223.81488037109375,
        "wires": [
            []
        ]
    },
    {
        "id": "d9ceda21.6b7e68",
        "type": "subflow:c0c690e.17165f",
        "z": "cf757416.97ca88",
        "x": 773.8888888888889,
        "y": 326.6666666666667,
        "wires": [
            [
                "a6cb2200.99618"
            ],
            [
                "568149d7.fddb88"
            ]
        ]
    },
    {
        "id": "f4e04fe9.a5d898",
        "type": "assert",
        "z": "c0c690e.17165f",
        "name": "Check parameters",
        "rules": [
            {
                "property": "payload.id",
                "propertyType": "msg",
                "type": "regex",
                "value": "\\d+",
                "valueType": "str",
                "case": false
            }
        ],
        "x": 745.8889312744141,
        "y": 156.11111450195312,
        "wires": [
            [
                "44d1a26b.89eb44"
            ]
        ]
    },
    {
        "id": "a6cb2200.99618",
        "type": "function",
        "z": "cf757416.97ca88",
        "name": "Set JSON response doctype",
        "func": "if (msg.headers == null) {\n    msg.headers = [];\n}\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1253.5,
        "y": 333,
        "wires": [
            [
                "c18675e1.151718"
            ]
        ]
    },
    {
        "id": "9196efb8.384d18",
        "type": "template",
        "z": "60ebfa82.7e48a4",
        "name": "Build getJardin request",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nFROM Jardin;",
        "x": 639.5368957519531,
        "y": 87,
        "wires": [
            [
                "6b9112f0.82fa84"
            ]
        ]
    },
    {
        "id": "6b9112f0.82fa84",
        "type": "mysql",
        "z": "60ebfa82.7e48a4",
        "mydb": "c0e93a6b.6b218",
        "name": "",
        "x": 842.6482238769531,
        "y": 86.11117553710938,
        "wires": [
            []
        ]
    },
    {
        "id": "594cde33.5b3f78",
        "type": "subflow:60ebfa82.7e48a4",
        "z": "cf757416.97ca88",
        "x": 769.5,
        "y": 221,
        "wires": [
            [
                "a6cb2200.99618"
            ]
        ]
    },
    {
        "id": "f6aabc36.9a9aa",
        "type": "function",
        "z": "cf757416.97ca88",
        "name": "Set status code to error",
        "func": "msg.statusCode = 400;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1341,
        "y": 555,
        "wires": [
            [
                "a6cb2200.99618"
            ]
        ]
    }
]